*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    /* font-family: "lato", sans-serif; */
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    padding: 0 40rem;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

/* Start NavBar  */
.body-container {
    box-shadow: 0 0.5rem 1rem rgba(24, 23, 23, 0.3);
    /* padding: 3rem; */
    margin-bottom: 4rem;
    background-color: #F2F2F2;
}

.navbar {}

.bg-light {
    background-color: #FFF !important;
    padding: 20px 0;
}

.video-section .container {
    padding: 0;
}

/* .jumbotron {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url(../img/hero.jpg);
}

.jumbotron h2 {
    color: #2D527C;
    letter-spacing: 3px;
    text-transform: uppercase;
}
 */


/* End NavBar  */

/* .video-section iframe {
    background-color: #000;
    border: 5px solid #000;
} */

.wraper h1 {
    color: #FF0000 !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-size: 2.5rem;
}

.wraper h2 {
    color: #FF0000 !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-size: 2rem;
}

.wraper h3 {
    color: #131B48 !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-size: 1.75rem;
}

.wraper h4 {
    color: #FF0000 !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-size: 1.5rem;
}

.wraper p {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0 !important;
    color: #131B48;
}

.wraper ul {
    /* font-size: 2rem; */
    margin-left: 2rem;
    color: #131B48;
}

.wraper ol {
    /* font-size: 1.5rem; */
    margin-left: 2rem;
    color: #131B48;
}

.wraper img {
    width: 100% !important;
    height: auto;
}

/* Start Heading  */
.sub-heading {}

/* End Heading  */
.more-info-heading {
    padding: 0 15rem;
}

.more-info h2 {
    /* color: #FF0000; */
}

.more-info .btn-lg {
    padding: 1rem 5rem;
    font-size: 2.25rem;
    line-height: 1.5;
    border-radius: 1.3rem;
    background-color: #0B466D;
    border-color: #0B466D;
    color: #fff;
}

.more-info .btn-lg:active,
.more-info .btn-lg:focus,
.more-info .btn-lg:link {
    background-color: #0B4653;
    border-color: #0B4653;
}

.more-info .btn-lg:hover {
    background-color: #0B4653;
    border-color: #0B4653;
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 1rem rgba(24, 23, 23, 0.3);
}

.more-info-heading {
    color: #242D43;
}

.rate-us .btn-lg {
    padding: 1rem 3rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 1.3rem;

}

.more-info {
    /* background-color: #FFB902; */
    color: #1E334D;
}

.contact-us {
    color: #FFFFFA;
}

.contact-us .btn-lg {
    padding: .5rem 1rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.contact-us .btn-link {
    font-weight: 400;
    color: #007bff;
    background-color: transparent;
}

.contact-us .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.rate-us .btn-lg {

    line-height: 1.5;
    border-radius: 1.3rem;
    background-color: #0B466D;
    border-color: #0B466D;
    color: #fff;
}

.rate-us .btn-lg:active,
.rate-us .btn-lg:focus,
.rate-us .btn-lg:link {
    background-color: #0B4653;
    border-color: #0B4653;
}

.rate-us .btn-lg:hover {
    /* background-color: #0B4653;
    border-color: #0B4653; */
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 1rem rgba(24, 23, 23, 0.3);
}

/* Footer  */
.footer-sec {
    background-color: #000;
    color: #FFF;
    font-size: 1.2rem;
}

/*===================================
           Media Query
=====================================*/

@media (max-width: 575.98px) {
    body {
        padding: 0 0rem;
    }

    .more-info-heading {
        padding: 0 0.5rem;
    }

    .video-section iframe {
        height: 80vh;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        padding: 0 0rem;
    }

    .more-info-heading {
        padding: 0 0.5rem;
    }

    .video-section iframe {
        height: 80vh;
    }
}

@media (max-width: 991.98px) and (min-width: 768px) {
    body {
        padding: 0 0rem;
    }

    .video-section iframe {
        height: 80vh;
    }
}

@media (max-width: 1200px) and (min-width: 991.99px) {
    body {
        padding: 0 0rem;
    }

    .more-info-heading {
        padding: 0 0.5rem;
    }

    .video-section iframe {
        height: 90vh;
    }
}

@media (max-width: 1367px) and (min-width: 1201px) {
    body {
        padding: 0 0rem;
    }

    .video-section iframe {
        height: 90vh;
    }
}